@import url('https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}
.hero-section {
	height: 100%;
	width: 100%;
}
.aboutme-title {
	position: relative;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 8em;
	padding: 3%;
	font-weight: bold;
	letter-spacing: 12px;
	color: #ff6600;
	filter: drop-shadow(-3px 2px #333);
}
.aboutme-text {
	position: relative;
	left: 50%;
	right: 50%;
	padding: 10%;
	padding-top: 0;
	font-size: 3em;
	margin-bottom: -1px;
	transform: translateX(-50%);
	line-height: 1.5;
	text-align: justify;
}
.aboutme-section {
	position: relative;
	background: -moz-linear-gradient(to bottom right, royalblue, #9544ff);
	background: linear-gradient(to bottom right, royalblue, #9544ff);
	color: #202020;
}
.purdue-section {
	height: 600px;
	background-color: rgb(43, 79, 179);
	color: white
}
.purdue-title {
	position: relative;
	text-align: center;
	font-family: 'Montserrat', cursive;
	font-size: 8em;
	padding: 3%;
	font-weight: bold;
	letter-spacing: 12px;
	filter: drop-shadow(-3px 2px #333);
}
.purdue-text {
	display: inline-block;
	position: relative;
	left: 50%;
	right: 50%;
	padding: 5%;
	font-size: 2em;
	transform: translateX(-50%);
	line-height: 1.5;
}
.experience-section {
	position: relative;
	background-color: darkslategray;
	color: #202020;
}