.letter {
	position: relative;
	width: 100px;
	height: 150px;
	padding: 15px;
	overflow: visible;
	filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
}
.namecontainer {
	position: relative;
	top: 50%;
	left: 50%;
	height: 100%;
	transform: translate(-50%, -25%);
	text-align: center;
}