@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
}
.aboutme {
	position: absolute;
	top: -8%;
	left: 10%;
	font-size: 3em;
}
.aboutme-text {
	position: absolute;
	top: 5%;
	left: 10%;
	font-size: 1.5em;
}
.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 30pt;
}
.diag-wrapper {
	height: 30%;
}
.diag {
	position: relative;
	background-color: teal;
	color: white;
	height: 100%;
	width: 110%;
	transform: translate(-5%, -20%) rotate(3deg);
}
.barrier {
	position: relative;
	background-color: teal;
	color: white;
	height: 100%;
}