@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}
.aboutme {
	position: relative;
	height: 3em;
	text-align: center;
	font-size: 10em;
	font-weight: bold;
	letter-spacing: 12px;
}
.aboutme-text {
	position: relative;
	left: 50%;
	right: 50%;
	padding: 10%;
	font-size: 1.5em;
	transform: translate(-50%, -50%);
	line-height: 1.5;
}
.diag {
	position: relative;
	background-color: teal;
	color: white;
	height: 5%;
	width: 100%;
	transform: translateY(-99%);
	background: -moz-linear-gradient(to bottom left, rgba(255,0,0,0), rgba(255,0,0,0) 49.5%, rgba(255,0,0,0) 50%, teal 50.5%, teal);
	background: linear-gradient(to bottom left, rgba(255,0,0,0), rgba(255,0,0,0) 49.5%, rgba(255,0,0,0) 50%, teal 50.5%, teal);
}
.barrier {
	padding-top: 5%;
	position: relative;
	background-color: teal;
	color: white;
}