@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
}
.aboutme {
	position: relative;
	height: 3em;
	text-align: center;
	font-size: 3.5em;
	font-weight: bold;
	letter-spacing: 12px;
}
.aboutme-text {
	position: relative;
	left: 50%;
	right: 50%;
	padding: 10%;
	font-size: 1.5em;
	transform: translate(-50%, -50%);
	line-height: 1.5;
}
.diag-wrapper {
	height: 30%;
}
.diag {
	position: relative;
	background-color: teal;
	color: white;
	height: 100%;
	width: 110%;
	transform: translate(-5%, -20%) rotate(3deg);
}
.barrier {
	position: relative;
	background-color: teal;
	color: white;
}