.parallax {
	position: absolute;
	width: 100%;
	z-index: -1;
	background-repeat: repeat;
}
.parallax.img1{
	height: 100%;
	background-image: url("assets\\1.jpg");
	background-position: bottom;
	background-size: cover;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
}
.parallaxcontainer {
	position: relative;
	height: 115%;
	font-size: 60px;
	overflow: hidden;
}